.signup-wrapper {
  background-color: #fff;
  width: 480px;
  margin: auto;
  padding: 40px;
  position: relative;
  top: calc(50% - 60px);
  transform: translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.field {
  height: 38px;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;

  &.field:focus-within .label-wrapper,
  .input:not(:placeholder-shown)+.label-wrapper {
    background-color: #fff;
    height: 50%;
    padding: 0 0.1rem;
    left: 0.9rem;
    font-size: 0.8rem;
    transform: translateY(-9.5px);
  }

  .input {
    height: 100%;
    width: 100%;
    padding: 0.9rem;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-size: 1rem;
  }

  .label-wrapper {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 1rem;
    pointer-events: none;
    transform-origin: 0%;
    transition: all 0.2s ease-in;
  }
}

.validations-head {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-25%);
  color: #444;

  li {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;

    &.valid {
      color: rgb(19, 170, 82);
    }
  }
}

input[type="submit"] {
  margin-top: auto;
  font-size: 1rem;
  cursor: pointer;
  height: 38px;
  width: 100%;
  background-color: transparent;
  background-image: linear-gradient(-180deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(17, 17, 17, 0.04) 100%);
  border: 1px solid rgba(22, 22, 22, 0.2);
  color: #444;

  &:hover {
    background-image: linear-gradient(-180deg,
        rgba(255, 255, 255, 0.18) 0%,
        rgba(17, 17, 17, 0.08) 100%);
    color: #111;
  }
}

.error {
  margin-bottom: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: red;
}